.menu-items-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-row {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 15pc;

}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item button {
    margin-bottom: 15px;
    padding: 8px 16px;
    background-color: #66b45c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item button:hover {
    background-color: #0056b3;
}

.menu-item img {
    width: 100%;
    height: 80%;
    margin-top: 12px;
}

.menu-item a {
    height: 90%;
}