.add-candidate-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    max-width: 100%;
   
    
}
.candidate-container-box{
    display: flex;
    justify-content: center;
    width: 100%;  
   
    
}
.blank-container{
    display: grid;
    justify-content: center;
    background-color: #0056b3;
    width: 35%;
    height: 33pc;
    margin-top: -20px;
    
}
.candidate-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}
.candidate-container{
    display: flex;
    justify-content: center;
    
}


