body {
    margin: auto;

}

.Main-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-image: linear-gradient(to right, #eec78c, #c8c1c1, #138808);
    height: 70px;

}

.Main-page-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.Main-page-Title h2 {
    color: rgb(53, 32, 32);
}

.signing-buttons {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signing-buttons button{
    padding: 8px 16px;
    background-color: #5b82bd;
    color: #fff;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logo-image {
    width: 10%;
    display: flex;
    justify-content: center;

}

.logo-image a {
    display: flex;
    align-items: center;

}

.logo-image img {
    width: 40px;
    height: 100%;
    background-color: transparent;
    border-radius: 9px;
    object-fit: contain;
    opacity: 0.5;


}

.national-symbol-png {
    width: 10%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    float: right;


}

.national-symbol-png a {
    display: flex;
    align-items: center;
}

.national-symbol-png img {
    width: 40px;
    height: 80%;
    background-color: transparent;
    border-radius: 9px;
    object-fit: contain;
    margin-right: 10px;
    opacity: 0.6;


}

