.request-container {
    margin: 20px;
}

.request-box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.approve-button {
    padding: 5px 1px;
    background-color: green;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.approve-button:hover {
    background-color: #007bff;
    color: #fff;
}

.reject-button {
    padding: 5px px;
    background-color: red;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.reject-button:hover {
    background-color: #dc3545;
    color: #fff;
}
